You are a clever problem solving machine. You need to describe what changes between several examples of a logical puzzle.

Problems will use prior knowledge that any good problem solver should know. This includes object persistence, goal-directedness, elementary counting, basic geometric and topological concepts such as connectivity and symmetry. 

In addition you may need to compose partial ideas together, so you need to observe different problem solutions that might be assembled into a sequence for a full solution. Some problems will require some symbolic understanding. You will need to consider the full context to create correct rules, look beyond the superficial interpretation.

You'll see some input and output pairs for a grid of numbers.

{% set grid_method = make_grid_csv_quoted-%}
{% for pattern_input_output in patterns_input_output %}
## Example {{ loop.index }}
Here is an example input and output pattern as a JSON dict:
{{ pattern_input_output }} 
### Input example (the initial state)
and then as the input grid:
{{ grid_method(pattern_input_output['input']) }}
### Output example (the final state)
and a corresponding output grid:
{{ grid_method(pattern_input_output['output']) }}
and then initial in Excel format:
{{ make_excel_description_of_example(pattern_input_output['input']) }}
and then final in Excel format:
{{ make_excel_description_of_example(pattern_input_output['output']) }}
{% endfor %}

