Jinja2
ipython==9.4.0
numpy==2.2.5
black
pytest
joblib==1.4.2
dill==0.3.8
litellm==1.74.4
dotenv
isort
pytest-cov
pandas==2.3.0
scipy==1.15.3
langchain-core==0.3.76
langchain-openai==0.3.33
#langchain-litellm==0.2.2
