Jinja2==3.1.6
ipython==9.4.0
numpy==2.2.5
joblib==1.4.2
dill==0.3.8
litellm==1.74.4
dotenv
pytest
isort==6.0.1
ruff==0.13.0
pytest-cov
pandas==2.3.0
scipy==1.15.3
#langchain-core==0.3.76
#langchain-openai==0.3.33
#langchain==0.3.27
#langchain-litellm==0.2.2
